<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
  
<mapper namespace="com.jblog.dao.SortMapper">
	<resultMap id="SortMap" type="Sort">
		<id column="sort_id" property="sortId" />
		<result column="sort_name" property="sortName" jdbcType="VARCHAR" />
		<result column="blog_id" property="blogId"/>
	</resultMap>
	
	<select id="getSortList" resultMap="SortMap">
		select * from jblog.tb_sort
	</select>
	
	<select id="getSortListByBlogId" parameterType="int" resultMap="SortMap">
		select * from jblog.tb_sort where blog_id = #{blogId}
	</select>
	

</mapper>